.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #4dbe7c;
}

.link_list {
  display: flex;
  column-gap: 15px;
  list-style: none;
  margin-right: 4%;
}

.link_list li a {
  color: darkslategray;
  text-decoration: none;
}

.link_list li a.active {
  color: darkslategray;
  font-weight: 800;
  text-decoration: underline;
}

.logo-title {
  margin-left: 4%;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


